:root {
    --main-bg-color: var(--color-dark-gray);
    --main-border-color: var(--color-dark-gray);

    --main-header-color: var(--color-light-beige);
    --main-footer-bg-color: var(--color-gray);
    --main-footer-text-color: var(--color-light-beige);
    --main-workspace-color: var(--color-light-yellow);

    --main-tool-bar-border-color: var(--color-dark-gray);

    --main-footer-border-color: var(--main-border-color);
    --status-bar-border-color: var(--main-border-color);
    --side-bar-border-color: var(--main-border-color);
    --side-board-border-color: var(--main-border-color);
    --work-bench-border-color: var(--main-border-color);

    --dialog-header-color: var(--color-light-beige);
    --dialog-footer-color: var(--color-light-beige);


    --splitter-bg-color: var(--color-gray);

    --selectable-hover-color: var(--color-lighter-gray);

}

html, body {
    background-color: var(--main-bg-color);
}

.toolbar {
    border-bottom-style: solid;
    border-bottom-color: var(--main-border-color);

    border-right-style: solid;
    border-right-color: var(--main-border-color);
}

.switchbar {
    background-color: var(--main-header-color);
    border-bottom-style: solid;
    border-bottom-color: var(--work-bench-border-color);

}


.sidebar {
    border-right-style: solid;
    border-right-color: var(--side-bar-border-color);
}

.sideboard {
    border-right-style: solid;
    border-right-color: var(--side-board-border-color);
}

#splitter-panel{
    background-color: var(--splitter-bg-color);
    border-right-style: solid;
    border-right-color: var(--side-board-border-color);
}

#splitter-panel:hover{
    cursor:  ew-resize;
    background-color: orangered;
}


footer {
    background-color: var(--main-footer-bg-color);
    color: var(--main-footer-text-color);
    border-top-style: solid;
    border-top-color: var(--main-footer-border-color);
}


.status-bar-top{
    border-bottom-style: solid;
    border-bottom-color: var(--status-bar-border-color);
}

.selectable:hover {
    background-color: var(--selectable-hover-color);
}


