.accounting {
    background-color: var(--color-blue);
}

.accounting .sidebar .side-board-entry-toggle{
    background-color: var(--color-darker-blue);
    color: var(--color-lighter-blue);
}

.accounting .toolbar button {
    background-color: var(--color-lighter-blue);
}

#accounting-switch{
    cursor: default;
    background-color: var(--select-accounting-color);
    color: var(--select-accounting-font-color);
}

#accounting-switch:hover {
    background-color: var(--select-accounting-hover-color);
    color: var(--select-accounting-font-color);
}

.account-list-header {
    background-color: var(--color-dark-blue);
    color: var(--color-white-blue);
}
.account-entry {
    background-color: var(--color-white-blue);
}
