#payment-entries{
    border-top-style: solid;
    border-top-color: var(--main-border-color);
    border-bottom-style: solid;
    border-bottom-color: var(--main-border-color);
}

#import-panel table {
    background-color: var(--account-table-bg-color);
}
#import-panel table, th, td {
    border: 1px solid var(--main-border-color);
    border-collapse: collapse;
}
#import-panel tr:nth-child(even) {
    background-color: var(--account-table-hilight-bg-color);
}

