#import-panel div button{
    margin:5px 10px;
}

#import-panel table{
    margin:  20px auto;
    padding: 10px;
}
#import-panel th, td {
    padding: 2px 4px;
}

#payment-entries{
    overflow-y: scroll;
}

