#header {
    height: 30px;
    padding: 10px;
    border-bottom-style: solid;
    background-color: var(--dialog-header-color);
}

#main {
    padding: 10px;
    align-self: stretch;
    flex: 1;
}
#footer {
    height: 30px;
    /*margin-bottom: 15px;*/
    border-top-style: solid;
    padding: 10px;
    background-color: var(--dialog-footer-color);
}

#read-csv-file-next {
    margin-right: 30px;
    width: 100px;
}
