:root {
    /* COLOUR DEFINITIONS */
    /*--color-orange:   #ff5f00; !* rgba(255, 95, 0, 1)    -- hsla(22, 100%, 50%, 1) *!*/
    --color-light-beige: #fcf6e9;
    /*ELEMENT COLORS*/
    /*--form-color: var(--color-mustard);*/
    --dialog-header-color: var(--color-light-beige);
    --dialog-footer-color: var(--color-light-beige);
}
