body {
    background-color: bisque;
}

table{
    border: solid 1pt;
}

td{
    padding: 5px;
}
td:nth-child(1){
    text-align: right;
}

tr:nth-child(odd){
    background-color: beige;
}
tr:nth-child(even){
    background-color: floralwhite;
}


#balance{
    margin-top: 1em;
}

#booking_entries{
    margin-top: 1em;
}

#lbl_cost_center_select{
    margin-left: 10px;
}