table{
    border: solid 1pt;
}

tr.account_table{
    cursor: pointer;
}

td{
    cursor: pointer;
    padding: 5px;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: var(--color-fields-grey);
}

td:nth-child(1){
    text-align: right;
    border: none;
}

tr:nth-child(odd){
    background-color: beige;
}
tr:nth-child(even){
    background-color: floralwhite;
}

#total,
#in,
#out{
    margin:10px;
}

.balances{
    background-color: var(--color-lighter-grey);
}

.balances > div {
    margin:10px;
}

.account_section{
    padding: 10px;
    margin-bottom: 10px;
    border: thin solid var(--color-lighter-grey);
    background-color: #c4b0a1;
}

.account_table{
    margin: 10px 0 0 0;
}

h3{
    margin: 0;
    padding: 5px;
    color: var(--color-dark-blue);
    background-color: var(--color-light-grey);
}

