:root {
    --select-balancing-color: var(--color-dark-green);
    --select-balancing-hover-color: var(--color-darker-green);
    --select-balancing-font-color: var(--color-lightest-green);
}

.balancing {
    background-color: var(--color-green);
}

#balancing-switch.active{
    cursor: default;
    background-color: var(--select-balancing-color);
    color: var(--select-balancing-font-color);
}

/*#balancing-switch:hover {*/
/*    background-color: var(--select-balancing-hover-color);*/
/*    color: var(--select-balancing-font-color);*/
/*}*/

