:root {
    --select-accounting-color: var(--color-dark-blue);
    --select-accounting-hover-color: var(--color-darker-blue);
    --select-accounting-font-color: var(--color-lightest-blue);

    --account-table-bg-color: var(--color-lightest-blue);
    --account-table-hilight-bg-color: white;
}

.accounting {
    background-color: var(--color-blue);
}

.accounting .sidebar .side-board-entry-toggle{
    background-color: var(--color-darker-blue);
    color: var(--color-lighter-blue);
}

.accounting .toolbar button {
    background-color: var(--color-lighter-blue);
}

#accounting-switch.active{
    cursor: default;
    background-color: var(--select-accounting-color);
    color: var(--select-accounting-font-color);
}

#accounting-switch:hover {
    background-color: var(--select-accounting-hover-color);
    color: var(--select-accounting-font-color);
}

.sideboard-entry-list-header, .account-list-header {
    background-color: var(--color-dark-blue);
    color: var(--color-lightest-blue);
}


.sideboard-entry-list-entry, .account-entry {
    background-color: var(--color-lightest-blue);
}

.dialog-header{
    background-color: var(--dialog-header-color);
    padding: 5px 10px;
}
.dialog-footer{
    background-color: var(--dialog-footer-color);
}

