:root {
    /* COLOUR DEFINITIONS */
    /*--color-orange:   #ff5f00; !* rgba(255, 95, 0, 1)    -- hsla(22, 100%, 50%, 1) *!*/
    --color-light-beige: #fcf6e9;
    --color-leight-yellow: #FAECD1FF;

    --color-darker-gray: #1d1d1d;
    --color-dark-gray: #444444;
    --color-gray: #777777;
    --color-light-gray: #999999;
    --color-lighter-gray: #c1c1c1;


    --color-darker-blue: #202079;
    --color-dark-blue: #3c3c96;
    --color-blue: #5c5cb0;
    --color-light-blue: #7f7fc9;
    --color-lighter-blue: #afafe8;
    --color-white-blue: #d9d9f5;

}
