:root {
    --main-bg-color: var(--color-dark-gray);
    --main-header-color: var(--color-light-beige);
    --main-footer-bg-color: var(--color-gray);
    --main-footer-text-color: var(--color-light-beige);
    --main-footer-border-color: var(--color-dark-gray);
    --status-bar-border-color: var(--color-dark-gray);
    --main-workspace-color: var(--color-leight-yellow);

    --side-bar-border-color: var(--color-dark-gray);
    --side-board-border-color: var(--color-dark-gray);

    --work-bench-border-color: var(--color-dark-gray);

    --dialog-header-color: var(--color-light-beige);
    --dialog-footer-color: var(--color-light-beige);

    --select-accounting-color: var(--color-dark-blue);
    --select-accounting-hover-color: var(--color-darker-blue);
    --select-accounting-font-color: var(--color-white-blue);

    --splitter-bg-color: var(--color-gray);
}

html, body {
    background-color: var(--main-bg-color);
}
.tool-bar-panel {
    border-bottom-style: solid;
    border-bottom-color: black;
}

.switch-panel {
    background-color: var(--main-header-color);
}


.side-bar-panel {
    border-right-style: solid;
    border-right-color: var(--side-bar-border-color);
}

.side-board-panel {
    border-right-style: solid;
    border-right-color: var(--side-board-border-color);
}

#splitter-panel{
    background-color: var(--splitter-bg-color);
    border-right-style: solid;
    border-right-color: var(--side-board-border-color);
}

#splitter-panel:hover{
    cursor:  ew-resize;
}

.work-bench-panel {
    border-top-style: solid;
    border-top-color: var(--work-bench-border-color);

}


footer {
    background-color: var(--main-footer-bg-color);
    color: var(--main-footer-text-color);
    border-top-style: solid;
    border-top-color: var(--main-footer-border-color);
}

#accounting-switch{
    cursor: default;
    background-color: var(--select-accounting-color);
    color: var(--select-accounting-font-color);
}

#accounting-switch:hover {
    background-color: var(--select-accounting-hover-color);
    color: var(--select-accounting-font-color);
}

.status-bar-top{
    border-bottom-style: solid;
    border-bottom-color: var(--status-bar-border-color);
}



