#workspace {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;

    display: grid;
    grid-template-areas:
        'toolbar toolbar splitter switchbar'
        'sidebar sideboard splitter workbench'
        'footer footer footer footer';
    grid-template-rows: 25px 1fr  25px;
    grid-template-columns: 25px 250px 3px 1fr;
}

.toolbar {
    grid-area: toolbar;
}

.switchbar {
    grid-area: switchbar;
}

.sidebar {
    grid-area: sidebar;
}

.sideboard {
    grid-area: sideboard;
}

#splitter-panel {
    grid-area: splitter;
}

.workbench {
    grid-area: workbench;
    overflow-y: hidden;
}

footer {
    grid-area: footer;
}
