<div id="booking_entry_form" class="hbox collapsed form">
    <div class="vbox">
        <div id="_id" class="hbox align-center">
            <label>id</label>
            <label id="id_label"></label>
        </div>
        <div id="_amount" class="hbox align-center collapsed">
            <label for="amount_field">amount</label>
            <input id="amount_field" type="text" readonly>
        </div>
        <div id="_name" class="hbox align-center collapsed">
            <label for="name_field">name</label>
            <input id="name_field" type="text" readonly>
        </div>
        <div id="_subject" class="hbox align-center collapsed">
            <label for="subject_field">subject</label>
            <input id="subject_field" type="text" readonly>
        </div>
        <div id="_date" class="hbox align-center collapsed">
            <label for="date_field">date</label>
            <input id="date_field" type="text" readonly>
        </div>
        <div id="_booking_code" class="hbox align-center collapsed">
            <label for="booking_code_field">booking-code</label>
            <input id="booking_code_field" type="text" readonly>
        </div>
        <div id="_end_date" class="hbox align-center collapsed">
            <label for="end_date_field">end-date</label>
            <input id="end_date_field" type="text" readonly>
        </div>
        <div id="_portion" class="hbox align-center collapsed">
            <label for="portion_field">portion</label>
            <input id="portion_field" type="text" readonly>
        </div>
        <div id="_billable" class="hbox align-center collapsed">
            <label for="billable_field">billable</label>
            <input id="billable_field" type="text" readonly>
        </div>
    </div>
    <div class="vbox">
        <button id="booking_entry_form_edit" onclick="booking_entry_form.edit();">edit</button>
        <button id="booking_entry_form_create" onclick="booking_entry_form.create();">create</button>
        <button id="booking_entry_form_save" onclick="booking_entry_form.save();">save</button>
        <button id="booking_entry_form_del" onclick="booking_entry_form.del();">delete</button>
        <button id="booking_entry_form_cancel" onclick="booking_entry_form.cancel();">cancel</button>
    </div>
</div>
<script type=text/javascript src="{{url_for('static',filename='js/booking_entry_form.js')}}"></script>
