<html>
<head>
    <meta charset="UTF-8">
    <title>Frinerva</title>
    <link rel="stylesheet" href={{url_for('static',filename="css/framlin.css")}} >
    <link rel="stylesheet" href={{url_for('static',filename="css/booking_entry_form.css")}} >
    <link rel="stylesheet" href={{url_for('static',filename="css/display_service_charges.css")}} >

</head>
<body>
<div class="vbox full-height">
    <h1>Service Charges</h1>

    <div class="hbox">
        <label id="lbl_booking_periods" for="booking_periods_select">Jahr </label>
        <select id="booking_periods_select">
            {% for bp in bookingperiods %}
            <option value="{{ bp }}">{{ bp }}</option>
            {% endfor %}
        </select>

        <button onclick="load();">load</button>

    </div>

    <div id='scs_section' class="vbox">
        <div id="scs_house"></div>
        <button onclick="forward_entries('HOUSE','DWELLING');">forward</button>
        <div id="scs_dwelling"></div>
        <button onclick="forward_entries('DWELLING','RENTAL');">forward</button>
        <div id="scs_rental"></div>
    </div>

</div>
{% include 'booking_entry_form.html' %}
<script type=text/javascript src="{{url_for('static',filename='js/framlin.js')}}"></script>
<script type=text/javascript src="{{url_for('static',filename='js/display_service_charges.js')}}"></script>
</body>
</html>