<html>
<head>
    <meta charset="UTF-8">
    <title>Frinerva</title>
    <link rel="stylesheet" href={{url_for('static',filename="css/framlin.css")}} >
    <link rel="stylesheet" href={{url_for('static',filename="css/booking_entry_form.css")}} >
    <link rel="stylesheet" href={{url_for('static',filename="css/display_balance.css")}} >

</head>
<body>
<h1>Balance</h1>

<label id="lbl_booking_periods" for="booking_periods_select">Jahr </label>
<select id="booking_periods_select">
{% for bp in bookingperiods %}
    <option value="{{ bp }}">{{ bp }}</option>
{% endfor %}
</select>

<button onclick="load();">load</button>

<div id="summary" class="hbox">
    <div id="total"></div>
    <div id="in"></div>
    <div id="out"></div>
</div>

<div id="balance"></div>

{% include 'booking_entry_form.html' %}
<script type=text/javascript src="{{url_for('static',filename='js/framlin.js')}}"></script>
<script type=text/javascript src="{{url_for('static',filename='js/display_balance.js')}}"></script>
</body>
</html>